@import url(../link/header__link.css);
@import url(./header__link-container_active.css);

.header__link-container {
  height: calc(100% - 6px);
  margin: 0 34px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}