.popup__close {
  width: 40px;
  position: absolute;
  top: -46px;
  right: -46px;
  cursor: url(../../../images/Cursor.svg), pointer;
  display: block;
}

@media screen and (max-width: 767px) {
  .popup__close {
  display: none;
  }
}
