@import url(./style/black/header__title_style_black.css);

.header__title {
  margin-left: 104px;
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
}