@import url(../__pic/newscard__pic.css);
@import url(../__textblock/newscard__textblock.css);

.newscard {
  margin: 0;
  width: 400px;
  height: 576px;
  background: #FFFFFF;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}