@import url(../__news-title/results__news-title.css);
@import url(../../news-container/news-container.css);
@import url(../__button/results__button.css);
@import url(./_active/results__news_active.css);

.results__news {
  max-width: 1232px;
  margin: 0 auto;
  padding-top: 80px;
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
