@import url(./__copyright/footer__copyright.css);
@import url(./__links/footer__links.css);
@import url(./__social/footer__social.css);

.footer {
  margin: auto;
  max-width: 1228px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Roboto, Roboto Slab, Source Sans Pro, sans-serif;
}