@import url(../fail-pic/results__fail-pic.css);
@import url(../fail-title/results__fail-title.css);
@import url(../load-fail__message/load-fail__message.css);

.results__load-fail {
  max-width: 360px;
  margin: 0 auto;
  padding-top: 86px;
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}