@import url(../__navbar/newscard__navbar.css);

.newscard__pic {
  margin: 0;
  padding-top: 24px;
  width: 100%;
  height: 272px;
  border-radius: 16px 16px 0 0;
  background-image: url(../../../images/cardimage1.jpg);
  background-size: cover;
  background-position: center;
}