@import url(./__title/user__title.css);
@import url(./__news-count/user__news-count.css);
@import url(./__subtitle/user__subtitle.css);

.user {
  width: 100%;
  max-width: 1232px;
  margin: 0 auto;
  font-family: Roboto, Roboto Slab, Source Sans Pro, sans-serif;
}

@media screen and (max-width: 1279px) {
  .user {
    max-width: 992px;
  }
}

@media screen and (max-width: 1023px) {
  .user {
    max-width: 688px;
  }
}

@media screen and (max-width: 767px) {
  .user {
    max-width: 288px;
  }
}