@import url(./__newscard/newscard.css);

.news-container {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-gap: 16px;
  justify-content: center;
  font-family: Roboto, Roboto Slab, Source Sans Pro, sans-serif;
}