@import url(../message/newscard__navbar-message.css);

.newscard__navbar-alert {
  margin: 0 5px 0 0;
  width:182px;
  height: 100%;
  background: #FFFFFF;
  box-shadow: 0px 10px 22px rgba(59, 74, 116, 0.1);
  border-radius: 10px;
  display: none;
  justify-content: center;
  align-items: center;
}