@import url(./_flag/newscard__sidebar-button_flag.css);
@import url(./_flag/saved/newscard__sidebar-button_flag_saved.css);
@import url(./_garbage/newscard__sidebar-button_garbage.css);


.newscard__sidebar-button {
  width: 40px;
  height: 40px;
  border: 0;
  background: #FFFFFF;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 8px;
}
