@import url(./title/header__title.css);
@import url(./links/header__links.css);
@import url(./link/header__link.css);

.header {
  margin: 0;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(255, 255, 255, 0.01);
  box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.2);
}